body {
	overflow: hidden;
	cursor: none;
}

img {
	image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

/*Grids and containers*/
.container__grid {
	overflow: hidden;
	opacity: 0;
	transition: 1s;
}

.container__grid--1 {
	padding-top: 0;
}

.container__process {
	bottom: 0;
	height: 15px;
	position: absolute;
	z-index: 10;
}

.process__bar {
	background: #000;
	height: 5px;
	transition: 1s;
}

.grid__row {
	display: flex;
}

.grid__col--12,
img {
	width: 100%;
}

/*Text styles*/
.text__brow,
.text__title,
.text__body {
	margin-bottom: 54px;
}

.text__brow {
	font-size: 39px;
	font-style: italic;
	font-weight: 100;
}

.text__title {
	font-size: 90px;
	font-weight: 900;
}

.text__body {
	line-height: 1.35;
	font-size: 78px;
	font-weight: 100;
}

.text__body--heavy {
	font-weight: 400;
}

.space__body {
	font-family: "Didot";
	font-weight: 100;
}

.header__text .page__link {
	font-size: 15px;
	font-style: italic;
	/* font-weight: 400; */
}

/*Link animations*/
a {
	color: black;
	position: relative;
	text-decoration: none;
}
/* a:hover {
	cursor: none;
} */

.link__out:after {
  content: url("../assets/svg/link__text.svg");
	margin-left: -12.5px;
	margin-top: -37.5px;
	position: absolute;
	transition: 0.25s;
	z-index: -1;
}

.link__out.hover:after {
	/*background: url("../assets/gif/linkout_01.gif");
	border-width: 0.5px;
	height: 25px;
	margin-top: -5.75px;
	width: 25px;*/
	z-index: -1;
}

.link__out--archive {
	float: right;
}

.cursor__img {
	position: absolute;
	visibility: hidden;
	height: 20px;
	width: auto;
}

/*mobile styles*/
@media only screen and (max-width: 1600px)  {
	/*Text styles*/
	.text__brow,
	.text__title,
	.text__body {
		margin-bottom: 33px;
	}

	.text__brow {
		font-size: 31.5px;
		font-style: italic;
		font-weight: 100;
	}

	.text__title {
		font-size: 57px;
		font-weight: 900;
	}

	.text__body {
		line-height: 1.35;
		font-size: 51px;
		font-weight: 100;
	}

	.text__body--heavy {
		font-weight: 400;
	}
}
