* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	overflow: hidden;
}

.container__svg {
	background-color: rgba(255,255,255,0);
	margin: auto;
}

svg {
	max-height: 130%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.container__words path {
	fill: #636363;
	-webkit-transition: 20s;
	-o-transition: 20s;
	transition: 20s;
	stroke: white;
	stroke-width: 0.3;
}

.container__coordinates--background .container__hills {
	stroke: rgba(15,15,15,1);
	stroke-width: 2;
}

.container__coordinates--foreground .container__hills {
	stroke: rgba(255,255,255,1);
	stroke-width: 0.1;
  stroke-dasharray: 1000;
	-webkit-transition: 10s;
	-o-transition: 10s;
	transition: 10s;
	-webkit-animation: pathStroke 5000s ease alternate infinite;
	        animation: pathStroke 5000s ease alternate infinite;
}

.container__hills--cognate {
	-webkit-animation: pathStroke 100000s ease-out alternate infinite;
	        animation: pathStroke 100000s ease-out alternate infinite;
}


@-webkit-keyframes pathStroke {
	from {
		stroke-dashoffset: 1000000;
	}
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes pathStroke {
	from {
		stroke-dashoffset: 1000000;
	}
  to {
    stroke-dashoffset: 0;
  }
}
