body,
p {
  margin: 0;
  padding: 0;
  position: relative;
}

.container__content {
  /*display: none;*/
}

.container__black {
  background-color: black;
}

.container__black,
.container__white {
  position: absolute;
}

#drag {
  position: absolute;
  width: 5px;
  height: 100%;
  left: 100%;
  background-color: rgba(0,0,0,0.2);
}

#drag:hover {
  cursor: col-resize;
}
