body,
p {
  margin: 0;
  padding: 0;
  position: relative;
}

.container__content {
  /*display: none;*/
}

.container__black {
  background-color: black;
  color: white;
}

.container__black,
.container__white {
  position: absolute;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container__white {
  left: 50%;
  transform: rotate(180deg);
}
