* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "SportingGrotesque-Bold", sans-serif;
}

.container__grid {
	overflow-x: hidden;
	position: relative;
}

.container__absolute {
	position: absolute;
}

.grid__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 auto;
	text-align: center;
}

.grid__title {
	font-size: 260px;
	line-height: 1.2;
	/*margin-top: -50px;
	margin-bottom: -50px;*/
}

.grid__title--1 {
	font-family: "SportingGrotesque-Regular";
	font-weight: 100;
	letter-spacing: 10px;
	-webkit-animation: titleOne 3.5s infinite;
	        animation: titleOne 3.5s infinite;
	white-space: nowrap;
}
@-webkit-keyframes titleOne {
  0% {
    margin-left: -2000px;
  }
  100% {
		margin-left: 2000px;
  }
}
@keyframes titleOne {
  0% {
    margin-left: -2000px;
  }
  100% {
		margin-left: 2000px;
  }
}

.grid__title--2 {
	letter-spacing: 100px;
	-webkit-animation: titleTwo 6.5s infinite alternate;
	        animation: titleTwo 6.5s infinite alternate;
}
@-webkit-keyframes titleTwo {
  0% {
    margin-left: -2500px;
		letter-spacing: 500px;
  }
  100% {
		margin-left: 500px;
		letter-spacing: 0px;
  }
}
@keyframes titleTwo {
  0% {
    margin-left: -2500px;
		letter-spacing: 500px;
  }
  100% {
		margin-left: 500px;
		letter-spacing: 0px;
  }
}

.grid__title--3 {
	letter-spacing: -80px;
	font-size: 350px;
	-webkit-animation: titleThree 0.5s infinite;
	        animation: titleThree 0.5s infinite;
	white-space: nowrap;
}
@-webkit-keyframes titleThree {
  0% {
    margin-left: -1000px;
  }
  100% {
		margin-left: 0px;
  }
}
@keyframes titleThree {
  0% {
    margin-left: -1000px;
  }
  100% {
		margin-left: 0px;
  }
}

.grid__dot {
	height: 30px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	width: 100px;
	/*border-radius: 100px;*/
}

.grid__dot img {
	height: 50px;
	width: auto;
}

.grid__dot:hover {
	/* "cursor": "-webkit-grab"; */
}

.grid__dot--green {
	/*background: #55B448;*/
	/*background-image: url("../assets/png/sticker-01.png");*/
}

.grid__dot--yellow {
	/*background: #FCDE33;*/
	/*background: #1D70B7;*/
	/*background-image: url("../assets/png/sticker-02.png");*/
}

.grid__dot--red {
	/*background: #ED4959;*/
	/*background-image: url("../assets/png/sticker-03.png");*/
}
