* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	opacity: 0;
	transition: 0.5s;
}

.letter {
	display: inline-block;
	font-family: "Agentur";
	font-size: 9em;
	text-align: center;
	transition: 0.5s;
	top: -40px;
	/* position: absolute; */
	/* transform: rotate(90deg); */
	/* -webkit-animation: moveRight 5s ease 0s infinite alternate;
	animation: moveRight 5s ease 0s infinite alternate; */
}

.container__grid {
	/* overflow-x: hidden; */
	position: relative;
}

.container__absolute {
	position: absolute;
}

.grid__row {
	/* display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; */
	margin: 0 auto;
	text-align: center;
}

.grid__rect {
	/* temp */
	/* border: 1px solid black; */
	background: white;
	/* -webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s; */
	overflow: hidden;
	/* margin: auto; */
	margin: 0 -2px;
	display: inline-block;
	position: relative;
}

.rect__move {
	display: block;
}

.moveRight {
	right: -100px;
}

.moveLeft {
	left: -100px;
}

@-webkit-keyframes moveRight {
  0%{
		right: +=10px;
  }
  100%{
		right: +=1000px;
  }
}
