* {
	margin: 0;
	padding: 0;
}

p {
	font-size: 10em;
}

.container__grid {
	overflow-x: hidden;
	position: relative;
}

.container__absolute {
	position: absolute;
}

.grid__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 auto;
	text-align: center;
}

.grid__rect {
	background: white;
	/* border: 0.1px solid black; */
	width: 150px;
	/*-webkit-box-shadow: 6px 6px 13px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 13px 1px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 13px 1px rgba(0,0,0,0.75);*/
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	overflow: hidden;
}

.grid__rect p {
	/* padding-top: 50px; */
	margin-left: -600px;
	-webkit-animation: marginMove 5s ease 0s infinite alternate;
	        animation: marginMove 5s ease 0s infinite alternate;
}

.grid__rect h1 {
	font-size: 200px;
	position: absolute;
	top: 0;
	padding-top: 50px;
	margin-left: -150px;
	-webkit-animation: marginMove 5s ease 0s infinite alternate;
	        animation: marginMove 5s ease 0s infinite alternate;
}


@-webkit-keyframes marginMove {
  0%{
		margin-left: -600px;
  }
  100%{
		margin-left: 15px;
  }
}


@keyframes marginMove {
  0%{
		margin-left: -600px;
  }
  100%{
		margin-left: 15px;
  }
}


.grid__rect:hover {
	width: 300px;
}

.grid__sticker {
	position: absolute;
	height: 100px;
	width: 100px;
}
