* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.font--1 {
  font-family: "Tranz Neue";
}
.font--2 {
  font-family: "Opposit-Regular";
}
.font--3 {
  font-family: "NeueHaasUnicaW01-Italic";
}
.font--4 {
  font-family: "Agentur-Regular";
}
.font--5 {
  font-family: "Adieu-Regular";
}
.font--6 {
  font-family: "Adieu-Light";
}

.container__zero {
  position: relative;
  margin: auto;
}

.page__zero {
  border: 1px solid black;
  display: inline-block;
}

.img {
  position: absolute;
  /* max-width: 100px; */
  height: auto;
}

p {
  position: absolute;
  display: inline-block;
}
