* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

body {
  font-family: "Tranz Neue",sans-serif;
  overflow-x: hidden;
}

.container__zero {
  position: relative;
}

.page__zero {
  border: 1px solid black;
  display: inline-block;
}

.img {
  position: absolute;
  max-width: 100px;
  height: auto;
}
