body {
  font-family: "Arial", sans-serif;
  text-rendering: geometricPrecision;
}

.container--about {}

p {
  text-align: justify;
}

/* links */
a {
  color: black;
  background: none !important;
  text-decoration: none;
}

a span {
  background: white;
  display: inline-block;
  overflow: hidden;
  /* filter: blur(0px); */
  position: relative;
  transition: 0.25s;
}

.inside {
  background: black;
  border: none;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  transition: 0.25s;

}

.right {
  text-align: right;
}

/* spacing+layout */
p {
  line-height: 1.25;
  transition: 0.25s;
}

.section {
  margin: 5vh 0;
}

/* .section p {
  transition: 10s;
} */

.right {
  text-align: right;
}

.blur {
  opacity: 0.9;
  /* color: rgb(100,100,100); */
  text-rendering: initial;
}

.sharpen {
  opacity: 1;
  /* color: rgb(0,0,0); */
  text-rendering: ;
}
