* {
  padding: 0;
  margin: 0;
}

.container__background {
  background: url("../assets/livestreamPlaceholder.png");
  background-size: cover;
  font-family: "Arial", sans-serif;
  height: 100vh;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
  width: 100vw;
}

/* .container__top {
  position: fixed;
  width: 100vw;
} */

.text--date {
  color: white;
  font-size: 25px;
  padding: 20px 0;
  text-align: center;
}

.button__cameraSwitch {
  margin: 0 auto;
}

.text--camera:hover {
  cursor: pointer;
  opacity: 0.75;
}

.text--camera {
  color: black;
  background: white;
  mix-blend-mode: color-dodge;
  font-size: 20px;
  font-weight: 900;
  padding: 12.5px 0;
  text-align: center;
}

.container__queue {
  bottom: 62.5px;
  left: 0px;
  position: fixed;
  width: 100vw;
}

.flex {
  background: white;
  display: flex;
  margin: 0 20px;
}

.text--drawing {
  color: black;
  font-size: 25px;
  padding: 22.5px 15px;
  text-align: left;
}

.container__progress {
  background: black;
  display: inline-block;
  height: 27.5px;
  margin: 22.5px auto;
  width: 60vw;
}

.text--about {
  display: initial !important;
  padding: 22.5px 15px;
}

.text--file {
  font-size: 15px;
}

.text--user {
  font-size: 10px;
}

.icon--preview {
  height: 30px;
  padding: 22.5px 17.5px;
  width: 30px;
}

.center {
  bottom: 20px;
  position: fixed;
  width: 100vw;
}

.text--queue {
  color: white;
  text-align: center;
  text-decoration: underline;
}
