.container__scroll {
  margin-top: -0.3vw;
  opacity: 0;
  transition: 1s;
}

.border--load {
  background: black;
  position: absolute;
  opacity: 1;
  transition: 2.5s;
}

.border--load-X {
  height: 100vh;
  left: 0;
  top: 0;
  width: 0vw;
}
