* {
  margin: 0;
  padding: 0;
}

/*maybe change? too confusing?*/
 *::selection {
  opacity: 0;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
b::selection,
a::selection,
i::selection {
  opacity: 0;
}

body {
  /* cursor: col-resize; */
  cursor: url(../assets/cursorMove-01.png), move;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  height: 100vh;
  overflow: hidden;
  text-rendering: geometricPrecision;
  transition: 0.25s;
  width: 100vw;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    /*background: #FF0000;
    border-radius: 100px;*/
}

img,
video {
  position: relative;
  height: auto;
  max-width: 100%;
}

a {
  background: black;
  color: white;
  display: inline-block;
  letter-spacing: 1.5px;
  text-decoration: none;
  -webkit-text-stroke: 1px;
  text-transform: uppercase;
}

a:hover {
  background: rgba(255,255,255,0);
  color: black;
}

.container__scroll {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  /* overflow-y: scroll; */
  transition: 0.25s;
}

.container__scroll--TL {
  top: 0;
  left: 0;
  border-right: 1px solid black;
}

.container__scroll--TR {
  top: 0;
  right: 0;
}

.container__scroll--BL {
  bottom: 0;
  left: 0;
  border-right: 1px solid black;
  /*border-top: 1px solid black;*/
}

.container__scroll--BR {
  bottom: 0;
  right: 0;
  /*border-top: 1px solid black;*/
}

.container__black {
  background: black;
}

#about {
  background: white;
  overflow-y: scroll;
}

.container__white {
  background: white;
}

.container__video {
  margin: 0 auto;
}

.center {
  display: inherit;
  margin: 0 auto;
}

.white,
.white:hover {
  color: white;
}

/* type */
.container__text .text--about:first-child {
  margin-top: 0;
}

.container__text--project {
  bottom: 45%;
  position: absolute;
  text-align: center;
  width: 95%;
  z-index: 10;
}

.text--about {
  letter-spacing: -1.5px;
  line-height: 1;
}

.text--project {
  /* white-space: nowrap; */
}

.transition {
  transition: 0.75s;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

.lowercase {
  text-transform: lowercase;
}

.blur {
  cursor: default;
  filter: blur(5px);
  /* opacity: 0.5; */
  /* -webkit-transform: translate3d(0, 0, 0); */
  transform: translate3d(0, 0, 0);
  transition: 0.75s;
}

.blurSmall {
  filter: blur(2px);
}
