.container__grid--2,
.container__grid--3,
.container__grid--4,
.container__grid--5,
.container__grid--6 {
	opacity: 0.01;
	/* visibility: hidden; */
	transition: 0.5s;
}

#ia:hover,
#workco:hover,
#stackmap:hover {
	cursor: pointer;
}

.td__img {
	border-radius: 240px;
}

.td__img--1,
.td__img--2,
.td__img--3,
.td__img--4 {
	visibility: hidden;
}
