body {
	overflow: hidden;
}

.container__grid {
	overflow: hidden;
	opacity: 0;
	background: rgba(255,255,255,0);
}

.container__grid--1 {
	padding-top: 0;
}

.container__header--rotate {
	position: fixed;
	height: 0px;
}

.container__process {
	/*border: 1px solid black;*/
	background: white;
	bottom: 0;
	height: 15px;
	position: absolute;
	z-index: 10;
}

.process__bar {
	background: #000;
	height: 5px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.container__swipe,
.container__swipe--black {
	background: white;
	bottom: 0;
	left: 0;
	position: fixed;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
	z-index: 10;
	width: 100%
}

#ia:hover,
#workco:hover,
#stackmap:hover {
	cursor: pointer;
}

/*Spacing adjustments*/
.td__border {
	border: 1px solid black;
	overflow: hidden;
}

.td__img {
	-webkit-transition: all 0.1s ease-in;
}

/* Type for homepage */
.space__body {
	font-family: "Didot";
	font-weight: 100;
}

.link__out:after {
	background: #fff;
	border: 0.3px solid black;
  content: url("../assets/svg/link__square.svg");
	height: 10px;
	margin-left: -3.75px;
	position: absolute;
	width: 10px;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	margin-top: 20px;
}

.link__out.hover-csm-01:after {
	background: url("../assets/favicon/csm-01.png");
}
.link__out.hover-cv-01:after {
	background: url("../assets/favicon/cv-01.png");
}
.link__out.hover-workco-01:after {
	background: url("../assets/favicon/workco-01.png");
}
.link__out.hover-mail-01:after {
	background: url("../assets/favicon/mail-01.png");
}
.link__out.hover-nat-01:after {
	background: url("../assets/favicon/nat-01.png");
}
.link__out.hover-nat-02:after {
	background: url("../assets/favicon/nat-02.png");
}
.link__out.hover-nat-03:after {
	background: url("../assets/favicon/nat-03.png");
}
.link__out.hover-sketch-01:after {
	background: black;
}

.link__out.hoverBase:after {
	border-width: 0.5px;
	height: 16px;
	margin-top: 5px;
	width: 16px;
	z-index: -1;
}

.link__out.backgroundHover:after {
	background: #fff;
}
