* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  appearance: none;
}

body {
  font-family: "haasgrot", sans-serif;
  height: 100vh;
  overflow-x: hidden;
  line-height: 1;
  height: 100vh;
}

/*.grid {
  display: grid;
  grid-column-gap: 12px;
  grid-column-gap: 0px;
}
.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}
.column {}*/

.grid {
  display: flex;
  width: 97vw;
  margin-left: 1.25vw;
}

.grow {
  flex-grow: 1;
}

/*type*/
.text {
  font-size: 7.5vw;
  font-weight: 400;
}

.text--italic {
  /*font-family: "NeueHaasUnicaW01-Italic";*/
  font-style: italic;
  padding-right: 3.75vw;
  transform: skewX(-5deg);
}

.text--date {
  padding-right: 3.75vw;
}

.invisibleLetter {
  opacity: 0;
}
