* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
table {
	font-family: "Tranz Neue", sans-serif;
}

.container__img {
	position: absolute;
	transition: 1s;
}

.container__grid {
  position: absolute;
	transition: 1s;
}

/*X Y Z values*/
.table__values {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

#test {
	position: fixed;
	top: 0;
	left: 0;
	/* visibility: hidden; */
	z-index: 10;
}
