* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: "Haas Grot Disp", sans-serif;
	text-transform: uppercase;
}

a,
a:hover,
a:focus {
	color: black;
	text-decoration: none;
	outline: none;
}

a:hover {
	opacity: 0.8;
}

p {
	font-size: 2vw;
	text-align: justify;
	text-justify: inter-word;
	transition: 5s;
}

/* img {
	max-width: 100%;
	height: auto;
} */

/* turning pages */
.container {
	transition: 2s;
}

.container__scroll {
	height: 750vh;
	/* height: 6159; */
}

.container__turn {
  transform-style: preserve-3d;
	perspective: 100vw;
	perspective-origin: 50vw 50vh;

	height: 100vh;
	width: 100vw;

	position: fixed;
	will-change: transform;
}

.container__page {
	background-color: rgba(255,255,255,0.1);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	margin: 0 auto;
	overflow: hidden;
	position: fixed;
	transform-style: preserve-3d;

	height: 100vh;
	width: 100vw;

	/* hint browsers about the kind of changes to be expected on an element */
	will-change: transform;
}

.container__pageL {}
.container__pageR {}

.container__pageImg {
	background-image: url("../assets/zero/00-3.png");
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	background-size:contain;
	height: 100vh;
	width: 100vw;
	z-index: 0;
}

.container__download--title {
	text-align: center;
	top: 0;
	width: 100vw;
}

.container__download {
	margin: 100vh 0;
	text-align: center;
	width: 100vw;
}

.container__archive--title {
	text-align: center;
	top: 0;
	width: 100vw;
}

.container__archive {
	height: 142px;
	margin: 200vh 0 100vh 0;
}

.container__archive--1 {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: -110vw;
	position: fixed;
	top: 40vh;
	transition: 1s;
	width: auto;
}

.container__about--title {
	text-align: center;
	top: 0;
	width: 100vw;
}

.container__spacer {
	height: 59.8vh;
	transition: 5s;
}

.container__about {
	margin: 50.2vh 0 0 0;
	/* margin: 200vh 0 100vh 0; */
	/* padding-bottom: 15vh; */
	text-align: left;
	transition: 1s;
	top: 0;
	width: 100vw;
}

/* grid styling */
.grid {
  display: grid;
  grid-column-gap: 0px;
  width: 100vw;
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2vw;
  padding: 0;
  /* padding-top: 5vw; */
  width: 100vw;
}

.column {}

.text--columnTop {
	margin-top: 150px;
}

.text--column {
	margin-top: 50px;
}

.img--files {
	/* margin-left: -50vw; */
	transition: 2s;
}

.img--files .img {
	max-width: 100px;
	/* max-height: 129px; */
	/* margin-left: -20px; */
}

.border {
	background-color: black;
	position: fixed;
	opacity: 0;
	z-index: -1;
	transition: 1s;
}

.borderX {
	height: 1px;
	width: 100vw;
	left: 0;
	top: 50vh;
}

.borderY {
	width: 1px;
	height: 100vh;
	left: 50vw;
	top:0;
}

.border--top {
	border-top: 1px solid black;
}

/* type */
.caption {
	position: fixed;
	top: -0.5vh;
	z-index: 100;
}

.caption--zero {
	left: 0;
	font-family: "TeX Gyre Heros Cn";
	font-size: 140px;
	opacity: 1;
	top: -6.5vh;
	z-index: 100;
}

.caption--time {
	font-size: 1.8vw;
	right: 0;
}

.title {
	font-size: 150px;
	text-align: center;
	transition: 0.5s;
	z-index: 50;
}

.title--fix {
	font-size: 65px;
	margin-top: -12px;
}

.title--fixPush {
	margin-top: -60px;
}

.figcaption {
	font-size: 20px;
}

.figcaption--absolute {
	white-space: nowrap;
	position: absolute;
	margin-top: 10px;
	margin-left: -50px;
}

.figcaption--download {
	text-align: center;
}

.subcaption {
	font-family: "TeX Gyre Heros Cn";
	text-transform: lowercase;
}

.link {
	border-bottom: 3px solid black;
}

a.link:hover {
	color: #0000ff;
	border-color: #0000ff;
}

/* misc styling */
.img {
	display: block;
	height: auto;
	margin: 0 auto;
	width: auto;
}

.img--fileDownload {
	z-index: 50;
	/* max-height: 129px; */
	max-width: 100px;
}

.moveImgs {
	/* override inline styles */
	margin-left: 110vw !important;
}

.white {
	background-color: white;
}

.fixed {
	position: fixed;
}

.inactive {
	opacity: 0.7;
}
