* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 10px;
	font-family: "haasgrot", sans-serif;
	overflow-x: hidden;
}

h1 {
	font-size: 7vw;
	font-weight: 100;
	margin-top: -1vw;
}

h2 {
	font-size: 3.5vw;
}

h3 {
	font-size: 2.5vw;
}

.container__folder {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.container__grid {
	margin: 15vh auto !important;
}

.grid__border {
	background: black;
	height: 0.75vw;
	margin-top: 3vw;
}

.grid__row {
	transition: 3s;
}

hr {
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: none;
	border-right: none;
	border-left: none;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.folder {
	position: absolute;
	top: 26vw;
	right: 16.5vw;
}

.folder:hover {
	cursor: pointer;
}

.folder--img {
	height: auto;
	width: 75px;
}

.folder--img-center {
	display: block;
	bottom: 1vh;
}

/* type */

.title {
	margin-bottom: 5vh;
}

.text--paragraph {
	padding: 1vh 0;
}

.folder {
	opacity: 0;
}

.stroke--img {
	position: absolute;
	margin: 0 45vw;
	margin-top: -10vh;
}
