* {
	margin: 0;
	padding: 0;
}

body {
	/* height depends on the way function is structured */
	height: 28800px;
	overflow-x: hidden;
	font-family: "Haas Grot Disp", sans-serif;
	text-transform: uppercase;
}

p {
	font-size: 1vw;
	text-align: justify;
	text-justify: inter-word;
	transition: 5s;
}

hr {
	height: 1px;
	background: black;
	border: none;
	width: 100%;
	margin: 3.2vw 0;
}

img {
	max-width: 100%;
	height: auto;
}

.z {
	display: inline;
	height: 15px;
	width: auto;
}

.img__img {
	height: auto;
	max-width: 200px;
	position: absolute;
}

.grid__row {
	margin: auto;
	opacity: 1;
}

.grid__text--right {
	text-align: right;
}

.container__turn {
	/* overflow: hidden; */
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

	-webkit-perspective: 100vw;
	-moz-perspective: 100vw;
	-o-perspective: 100vw;
	-ms-perspective: 100vw;
	perspective: 100vw;
	-webkit-perspective-origin: 50vw 50vh;
	-moz-perspective-origin: 50vw 50vh;
	-o-perspective-origin: 50vw 50vh;
	-ms-perspective-origin: 50vw 50vh;
	perspective-origin: 50vw 50vh;

	height: 100vh;
	width: 100vw;

	position: fixed;
	will-change: transform;
	transition: 2s;
	transform: translate3d(0,0,0);
}

.container__grid {
	overflow: hidden;
	position: fixed;
}

.shrink {
	/* transform: scaleX(0.01); */
	font-size: 30vw;
	margin-top: -12.5vw;
	/* margin-left: -20vw;
	margin-right: -20vw; */
	/* background-color: black; */
	color: white;
}

.container__page {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	background-color: rgba(255,255,255,0.1);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	margin: 0 auto;
	overflow: hidden;
	/* position: absolute; */
	position: fixed;
	transition: 2s;

	height: 100vh;
	width: 100vw;
}

.container__pageL {
	border: 10px solid black;
	will-change: transform;
	z-index: 2;
}

.container__pageR {
	border: 10px solid black;
	will-change: transform;
}

.container__pageImg {
	background-image: url("../assets/zero/00-3.png");
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	height: 100vh;
	width: 100vw;
	z-index: 10;
}
