* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../assets/ndevalliere-1.png");
	background-repeat: no-repeat;
	font-family: "Times New Roman";
	transition: 1s;
}

.container__grid {
	padding: 300px 150px 250px 150px;
}

.grid__row {
	display: flex;
	justify-content: space-between;
	margin-top: -150px;
	transition: 1s;
}

.grid__row:nth-child(1) {
	 transform: scaleX(0.98);
}

.grid__row:nth-child(2) {
	 transform: scaleX(1.01);
}

.grid__row:nth-child(3) {
	 transform: scaleX(1.03);
}

.grid__row:nth-child(4) {
	 transform: scaleX(1.05);
}

.grid__row:nth-child(5) {
	 transform: scaleX(1.07);
}

.grid__rect {
	background-color: rgba(220,220,220,0.9);
	border-radius: 2px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
	cursor: pointer;
	position: relative;
	transition: 1s;
}

.grid__rect-inner {
	background-color: rgba(255,255,255,0.9);
	z-index: 1;
	margin: auto;
	margin-top: 0;
	transition: 1s;
}

.grid__link {
	top: 5%;
	color: black;
	float: left;
	font-size: 6px;
	left: 50%;
	letter-spacing: 2.5px;
	position: absolute;
	text-decoration: none;
	text-align: center;
	transform: translate(-50%, -50%);
	transition: 0.25s;
}

#title__link {
	color: white;
	font-size: 10px;
	letter-spacing: 3px;
	margin-top: -50px;
	position: absolute;
	text-decoration: none;
	right: 0;
	white-space: nowrap;
}
