* {
	font-family: "Dunbar Text", sans-serif;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-family: "Dunbar Low";
	font-weight: 400;
}

p {
	font-size: 20px;
}

.block__title {
	font-size: 45px;
	line-height: 1;
}

.block__artist {
	font-size: 30px;
	line-height: 2;
}

.tag {
	font-size: 15px;
	font-weight: 400;
}

.timeline__movement {
	margin-top: 205px;
}

.timeline__row--movement {
	background: black;
	color: white;
	margin-top: 125px;
	margin-bottom: -75px;
}

.timeline__row--movement p {
	font-size: 25px;
	font-weight: 900;
	margin-top: -115px;
}

.timeline__row,
.timeline__title-container {
	display: flex;
}

.timeline__border {
	background: black;
	position: fixed;
}

.timeline__title {
	font-size: 55px;
	margin-top: 12.5%;
}

.timeline__mark {
	background: black;
	height: 5px;
	margin: 7.5px 20px;
	width: 10px;
}

.timeline__dates {
	font-weight: 900;
	margin-bottom: 15px;
}

.timeline__imgs-container{
	width: 40%;
}

.timeline__descriptions-container {
	width: 30%;
	margin-right: 15%;
}

.timeline__column {
	width: 5%;
}

.timeline__dates-container {
	width: 15%
}

.timeline__marks-container,
.timeline__imgs-container,
.timeline__descriptions-container,
.timeline__dates-container {
	margin-top: 15%;
}

.timeline__img {
	height: auto;
	width: 100%;
}
