* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-family: "Adobe Garamond Pro", sans-serif;
}

.container__grid {
	padding: 4.15%;
}

.container__grid--black{
	background: black;
}

.grid__row {
	display: flex;
	width: 100%;
}

.grid__col--3 {
	width: 25%;
}

.grid__col--6 {
	width: 50%;
}

.container__about,
.container__work,
.container__play {
	margin: auto;
	position: relative;
}

.container__about,
.container__work {
	padding: 175px 0 25px 0;
}

.container__work {
	padding: 0;
}

.container__header {
	padding-top: 25px;
}

.about__text,
.header__text,
.work__text,
.play__text {
	/*padding: 2.5px 0;*/
	font-size: 30px;
	font-weight: 100;
	line-height: 1.5;
}

.work__text {
	color: rgba(255,255,255,1);
}

.work__project {
	padding-bottom: 100px;
}

.work__project:last-child {
	padding-bottom: 50px;
}

.work--text--project-title,
.play--text--project-title {
	color: rgba(255,255,255,1);
	font-weight: 400;
	font-size: 50px;
	padding-bottom: 5px;
}

.container__play {
	padding: 50px 0;
}

.play--text--project-title {
	color: black;
}

.page__link {
	color: black;
	/*text-decoration: none;*/
}

.work__text--link .page__link {
	background: white;
	color: rgba(0,0,0,0.9);
	font-size: 20px;
	padding: 15px;
	text-decoration: none;
  line-height: 4.75;
}

.work__text--link .page__link:hover {
	color: blue;
}

.work__text--link {
	margin-top: 12.5px;
}

.play__text--link {
	margin-top: 7.5px;
}

.about__text--brow,
.work__text--brow,
.play__text--brow {
	font-size: 20px;
	font-style: italic;
	margin-bottom: 10px;
}

.work__text--brow {
	color: rgba(255,255,255,1);
}


.work__text--brow,
.play__text--brow {
	margin-bottom: 17.5px;
}

.header__text .page__link {
	font-size: 20px;
	font-style: italic;
}

a:hover {
	color: blue;
	transition: 0.5s;
}

.container__canvas {
	margin-bottom: -50px;
}

.container__work-background {
	height: auto;
}
