* {
	margin: 0;
	padding: 0;
}

body {
	/*background: black;
	color: white;*/
	font-family: "SportingGrotesque-Bold", sans-serif;
}

.container__grid {
	overflow-x: hidden;
	position: relative;
}

.container__absolute {
	position: absolute;
}

.grid__row {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	text-align: center;
}

.grid__rect {
	background: white;
	border: 0.1px solid black;
	width: 10px;
	/*-webkit-box-shadow: 6px 6px 13px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 13px 1px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 13px 1px rgba(0,0,0,0.75);*/
	transition: 1s;
}

.grid__rect img {
	padding-top: 50px;
}

.grid__rect:hover {
	width: 300px;
}

.grid__sticker {
	position: absolute;
	height: 100px;
	width: 100px;
}
