* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	overflow: hidden;
}

.container__svg {
	background-color: black;
	margin: auto;
}

svg {
	max-height: 140%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.container__words path {
	fill: #636363;
	transition: 20s;
}

.container__hills {
	stroke: #636363;
	stroke-width: 0.3;
  stroke-dasharray: 2.5;
	transition: 10s;
}

.container__hills--cognate {
	animation: pathStroke 6000s ease-out alternate infinite;
}

.container__hills--about {
	animation: pathStroke 30000s ease alternate infinite;
}
.container__hills--events {
	animation: pathStroke 10000s ease alternate infinite;
}


@keyframes pathStroke {
	from {
		stroke-dashoffset: 1000000;
	}
  to {
    stroke-dashoffset: 0;
  }
}
