* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-family: "Input Sans";
}

.container__about {
	margin: auto;
	padding: 125px 0 50px 0;
	position: relative;
	width: 490px;
}

.container__header {
	padding-top: 25px;
	padding-left: 25px;
}

.about__text,
.header__text {
	/*padding: 5px 0;*/
	font-family: "Input Sans";
	font-size: 15px;
	font-weight: 100;
	line-height: 1.75;
}

.about__text--brow {
	font-size: 10px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 3;
}

.header__text {
	font-size: 12.5px;
}

.container__canvas {
	margin-bottom: -40px;
}

.container__canvas-extension {
	background-color: black;
	height: 250px;
}

.container__work {
	background-color: black;
	height: 250px;
}



/*.typed-cursor {
	font-family: "Input Sans";
	font-size: 15px;
	font-weight: 100;
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
          animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink{
  50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}

.typed-fade-out{
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
          animation: 0;
}*/

.typed-cursor {
	display: none;
}
