body {
  overflow: hidden;
}

p {
	font-family: "PT Mono X";
	/*letter-spacing: 6px;*/
	font-size: 12px;
	transition: 60s;
}

p,
.container__project-titles {
	position: absolute;
}

.page__title {
  top: 10%;
	right: 10%;
  height: 100px;
  z-index: 10;
}

a {
	text-decoration: none;
	color: black;
}

.container__project-titles {
  transition: 10s;
	/*left: -40%;*/
	top: 45%;
	transform: rotate(-90deg);
	transform-origin: top;
}

.container__project-titles p {
	position: relative;
  /*padding-top: 31.25%;*/
	transform: rotate(-35deg);
	transform-origin: left;
	animation: rotate 15s linear 0s infinite alternate;
}

@keyframes rotate {
	100% {transform: rotate(35deg);}
}

#rotate {
	transform: rotate(60deg);
}

.large {
	animation: largeText 5s linear 0s infinite alternate;
}

@keyframes largeText {
	100% {font-size: 150px;}
}

.small {
	animation: smallText 5s linear 0s infinite alternate;
}

@keyframes smallText {
	100% {font-size: 8px;}
}

.container__preview {
  transform: rotate(90deg);
  display: block;
  overflow: auto;
  position: absolute;
  z-index: -1;
}

.container__preview:hover {
  transform: rotate(90deg);
}

@keyframes rotatePreview-1 {
  10%{
    transform: rotate(90deg);
    height: 800px;
    width: 800px;
  }
  20%{
    -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0); /* Safari */
    transform: matrix(1, -0.3, 0, 1, 0, 0); /* Standard syntax */
  }
  40%{
  }
  50% {
    width: 50px;
  }
  80%{
  }
  100%{
    transform: rotate(90deg);
    -webkit-transform: matrix(1, 0, 0.5, 1, 150, 0); /* Safari */
    transform: matrix(1, 0, 0.5, 1, 150, 0); /* Standard syntax */
    height: 1200px;
  }
}

@keyframes rotatePreview-2 {
  10% {
    transform: rotate(90deg);
    height: 100px;
    width: 900px;
  }
  20%{
  }
  40%{
    -webkit-transform: matrix(1, 0, 0.5, 1, 150, 0); /* Safari */
    transform: matrix(1, 0, 0.5, 1, 150, 0); /* Standard syntax */
  }
  80%{
    -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0); /* Safari */
    transform: matrix(1, -0.3, 0, 1, 0, 0); /* Standard syntax */
  }
  100%{
    transform: rotate(90deg);
    height: 1900px;
    width: 600px;
  }
}

@keyframes rotatePreview-3 {
  10%{
    transform: rotate(90deg);
    width: 200px;
    height: 300px;
    -webkit-transform: matrix(1, 0, 0.5, 1, 150, 0); /* Safari */
    transform: matrix(1, 0, 0.5, 1, 150, 0); /* Standard syntax */
  }
  30%{
    -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0); /* Safari */
    transform: matrix(1, -0.3, 0, 1, 0, 0); /* Standard syntax */
  }
  60%{
  }
  100%{
    transform: rotate(90deg);
    width: 1000px;
    height: 700px;
  }
}

@keyframes rotatePreview-4 {
  10% {
    transform: rotate(90deg);
    height: 900px;
    width: 300px;
  }
  20%{
  }
  40%{
    -webkit-transform: matrix(1, 0, 0.5, 1, 150, 0); /* Safari */
    transform: matrix(1, 0, 0.5, 1, 150, 0); /* Standard syntax */
  }
  80%{
    -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0); /* Safari */
    transform: matrix(1, -0.3, 0, 1, 0, 0); /* Standard syntax */
  }
  100%{
    transform: rotate(90deg);
    height: 400px;
    width: 1200px;
  }
}

@keyframes rotatePreview-5 {
  10%{
    transform: rotate(90deg);
    width: 5px;
    height: 10px;
    -webkit-transform: matrix(2, 0, 0.25, 1, 250, 0); /* Safari */
    transform: matrix(2, 0, 0.25, 1, 250, 0); /* Standard syntax */
  }
  15% {
    width: 500px;
    height: 1000px;
  }
  30%{
    -webkit-transform: matrix(0.1, -0.3, 10, 1, 0, 0); /* Safari */
    transform: matrix(0.1, -0.3, 10, 1, 0, 0); /* Standard syntax */
  }
  60%{
  }
  100%{
    transform: rotate(90deg);
    width: 500px;
    height: 700px;
  }
}
