* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-family: "Adobe Garamond Pro", sans-serif;
}

.container__about,
.container__work,
.container__play {
	margin: auto;
	padding: 175px 0 100px 0;
	position: relative;
	width: 630px;
}

.container__work {
	padding: 0;
	margin-top: -175px;
}

.container__header {
	padding-top: 25px;
	padding-left: 25px;
}

.about__text,
.header__text,
.work__text,
.play__text {
	/*padding: 2.5px 0;*/
	font-size: 30px;
	font-weight: 100;
	line-height: 1.5;
}

.work__text {
	color: rgba(255,255,255,1);
}

.work--text--project-title,
.play--text--project-title {
	color: rgba(255,255,255,1);
	font-weight: 400;
	font-size: 50px;
	padding-bottom: 5px;
}

/*.work--text--project-title {
	font-size: 40px;
}*/

.play--text--project-title {
	color: black;
}

.page__link {
	color: black;
	/*text-decoration: none;*/
}

.work__text--link .page__link {
	background: white;
	color: rgba(0,0,0,0.9);
	font-size: 20px;
	padding: 15px;
	text-decoration: none;
  line-height: 4.75;
}

.work__text--link .page__link:hover {
	color: blue;
}

.work__text--link {
	margin-top: 12.5px;
}

.play__text--link {
	margin-top: 7.5px;
}

.work__project,
.container__play {
	padding-bottom: 150px;
}

/*.play__project {
	padding-bottom: 15px;
}*/

.about__text--brow,
.work__text--brow,
.play__text--brow {
	font-size: 20px;
	font-style: italic;
	margin-bottom: 10px;
}

.work__text--brow {
	color: rgba(255,255,255,1);
}


.work__text--brow,
.play__text--brow {
	margin-bottom: 17.5px;
}

.header__text .page__link {
	font-size: 20px;
	font-style: italic;
	left: 75px;
	position: absolute;
	top: 50px;
}

a:hover {
	color: blue;
	transition: 0.5s;
}

.container__canvas {
	margin-bottom: -40px;
}

.container__canvas-extension,
.container__work-background {
	background-color: black;
	height: 250px;
}

.container__work-background {
	height: auto;
}
