* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-family: "Adobe Garamond Pro", sans-serif;
}

img {
	max-width: 100%;
}

/*Grids and containers*/
.container__grid,
.container__video,
.grid__row,
.grid__divider,
.grid__col--1,
.grid__col--2,
.grid__col--3,
.grid__col--3--edge,
.grid__col--6--edge,
.grid__col--4,
.grid__col--5,
.grid__col--6,
.grid__col--7,
.grid__col--8,
.grid__col--9,
.grid__col--10,
.grid__col--11,
.grid__col--12,
.page__banner  {
	margin: 0 auto;
}

.grid__row {
	display: flex;
	max-width: 1440px;
	padding: 4.15%;
	/* padding: 0 4.15%; */

}

/*Use 1320px as 100%, 3x3grid*/
.grid__col--1 {
	width: 8.3%;
	max-width: 109.56px;
}

.grid__col--2 {
	width: 16.6%;
	max-width: 219.12px;
}

.grid__col--3 {
	order: initial;
	width: 25%;
	max-width: 330px;
}

.grid__col--4 {
	width: 33.3%;
	max-width: 439.56px;
}

.grid__col--5 {
	width: 41.6%;
	max-width: 549.12px;
}

.grid__col--6 {
	order: initial;
	width: 50%;
	max-width: 720px;
}

.grid__col--7 {
	width: 58.3%;
	max-width: 769.56px;
}

.grid__col--8 {
	width: 66.6%;
	max-width: 879.12px;
}

.grid__col--9 {
	width: 74.7%;
	max-width: 986.04px;
}

.grid__col--10 {
	width: 83%;
	max-width: 1095.6px;
}

.grid__col--11 {
	width: 91.3%;
	max-width: 1205.16px;
}

.grid__col--12,
img,
.container__video {
	width: 100%;
}

/*Type*/
.row__header {
  font-size: 25px;
}

.row__header--italic {
  font-style: italic;
  font-weight: 100;
}

.row__name {
  text-align: center;
}

.row__title {
	font-size: 20px;
}

.col__title,
.col__subtitle  {
	font-size: 15px;
}

.col__subtitle {
	font-style: italic;
	font-weight: 100;
}

.col__body {
	font-weight: 100;
}

.line__separator {
	display: inline-block;
}

.line__title--right {
	font-style: italic;
	text-align: right;
}

hr {
  width: 100%;
}

.nopadding {
	padding-top: 0;
	padding-bottom: 0;
}
