* {
	margin: 0;
	padding: 0;
	/*border: 10px solid red;*/
}

h1,
h2,
h3,
h4,
h5,
p {
	font-family: "Adobe Garamond Pro", serif;
	font-weight: 100;
	font-style: normal;
}

canvas {
	position: absolute;
}

/*Grids and containers*/
.container__grid,
.container__video,
.grid__row,
.grid__divider,
.grid__col--1,
.grid__col--2,
.grid__col--3,
.grid__col--3--edge,
.grid__col--6--edge,
.grid__col--4,
.grid__col--5,
.grid__col--6,
.grid__col--7,
.grid__col--8,
.grid__col--9,
.grid__col--10,
.grid__col--11,
.grid__col--12,
.page__banner  {
	margin: 0 auto;
}

.container__header {
	position: fixed;
}

.container__grid--absolute {
	position: absolute;
	width: 100%;
}

.grid__divider {
	border-color: black;
}

.grid__divider--white {
	border-color: white;
	background: black;
	margin-top: -2px;
}

.grid__row {
	display: flex;
	padding: 0 4.15%;
}

.grid__row--intro {
	/*padding-top: 4.15%;*/
}

.section {
	margin-top: -4.15%;
}

/*Use 1440px as 100%, 6x6grid*/
.grid__col--1 {
	width: 8.3%;
	max-width: 120px;
}

.grid__col--2 {
	width: 16.6%;
	max-width: 240px;
}

.grid__col--3,
.grid__col--3--edge {
	order: initial;
	width: 25%;
	max-width: 360px;
}

.grid__col--4 {
	width: 33.3%;
	max-width: 480px;
}

.grid__col--5 {
	width: 41.6%;
	max-width: 600px;
}

.grid__col--6,
.grid__col--6--edge {
	order: initial;
	width: 50%;
	max-width: 720px;
}

.grid__col--7 {
	width: 58.3%;
	max-width: 840px;
}

.grid__col--8 {
	width: 66.6%;
	max-width: 960px;
}

.grid__col--9 {
	width: 74.7%;
	max-width: 1080px;
}

.grid__col--10 {
	width: 83%;
	max-width: 1200px;
}

.grid__col--11 {
	width: 91.3%;
	max-width: 1320px;
}

.grid__col--12,
img,
.container__video {
	width: 100%;
	/* background: black; */
	transition: 0.5s;
}

.container__video--small {
	max-height: 750px;
}

.container__about,
.container__work,
.container__play {
	margin: auto;
	position: relative;
}

.container__swipe,
.container__swipe--black {
	background: white;
	/* border: 10px solid red; */
	bottom: 0;
	left: 0;
	position: fixed;
	transition: 0.1s;
	z-index: 10;
	width: 100%
}

.container__swipe--black {
	background: black;
}

#ia:hover,
#workco:hover,
#stackmap:hover,
#index:hover,
#indexFooter:hover,
.play__project--1:hover,
.play__project--2:hover,
.play__project--3:hover {
	cursor: pointer;
}

/*Spacing adjustments*/
.container__about,
.container__work {
	padding: 0px 0 25px 0;
}

.container__work {
	padding: 0;
}

.project__summary {
	margin: 100px 0 30px 0;
}

.container__play {
	padding: 50px 0;
}

.container__canvas {
	margin-bottom: -5px;
}

.container__space {
	/*background: #2B2B2B;*/
	padding: 0 4.18%;
}

.grid__row--logo {
	margin-bottom: -8.3%;
}

.work__text--brow,
.play__text--brow {
	margin-bottom: 17.5px;
}

.page__link--logo {
	float: right;
}

.transition__start {
	/* transition: 1s;
	z-index: 10; */
}

/*Text styles*/
.about__text,
.header__text,
.work__text,
.play__text {
	font-size: 66px;
	font-weight: 100;
	line-height: 1.35;
}

.about__text {
	font-weight: 400;
}

.play__text--body-small {
	font-size: 25px;
	font-weight: 100;
	line-height: 1.25;
}

.top__body {
	font-size: 30px;
	line-height: 1.45;
}

.work--text--project-title,
.play--text--project-title,
.top__header {
	font-weight: 100;
	font-size: 50px;
	padding-bottom: 5px;
}

.about__text--brow,
.work__text--brow,
.play__text--brow,
.top__brow {
	font-weight: 100;
	font-size: 22px;
	font-style: italic;
	margin-bottom: 10px;
}

.play__text--brow-bold {
	font-size: 17px;
	font-weight: 900;
}

.header__text .page__link {
	font-size: 20px;
	font-style: italic;
}

.header__text--rotate {
	position: absolute;
	bottom: 100%;
	-webkit-transform: rotateZ(90deg);
  transform-origin: 0 100%;
	white-space: nowrap;
	/*left: 0;*/
  /*-webkit-transform-origin: 0 150%;
     -moz-transform-origin: 0 150%;
      -ms-transform-origin: 0 150%;
       -o-transform-origin: 0 150%;
          transform-origin: 0 150%;
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);*/
}

.text--rotate {
	-webkit-transform: rotate(180deg);
}

.footer__text--white,
.footer__link--white {
	/* color: white; */
}

/*Hover states*/
.grid__row--hover {
	/* color: white; */
	/*transition: 1s;*/
}

.grid__row--hover:hover {
	/* background: white; */
	/* color: black; */
}

/*Link animations*/
a {
	color: black;
	position: relative;
	text-decoration: none;
}
/*
a:before {
	content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

a:hover:before {
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}*/

a:hover {
	-webkit-text-stroke: 0.5px #000;
	/*letter-spacing: 1.5px;*/
}

a.footer__link--white:before {
	background-color: #fff;
}

a.footer__link--white:hover {
		-webkit-text-stroke: 0px #fff;
}

/*.page__link--logo,
.page__link--logo:before,
.page__link--logo:hover {
	background-color: rgba(255,255,255,0);
}

.page__link--iframe {
	visibility: hidden;
}

a.page__link--iframe,
a.page__link--iframe:before,
a.page__link--iframe:hover {
	background: transparent;
}

.page__link--iframeHolder {
	background-color: black;
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	max-width: 650px;
	text-align: center;
	text-decoration: none;
	transform: none;
	visibility: hidden;
}
*/

/*mobile styles*/
@media only screen and (max-width: 1300px)  {
	/*Grids and containers*/
	.grid__row {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}

	.grid__col--1,
	.grid__col--2,
	.grid__col--3,
	.grid__col--4,
	.grid__col--5,
	.grid__col--6,
	.grid__col--7,
	.grid__col--8,
	.grid__col--9,
	.grid__col--10,
	.grid__col--11 {
		width: 100%;
		max-width: 650px;
	}

	.grid__col--6--edge {
		order: 3;
	}

	.grid__col--3--edge {
		order: 2;
		width: 50%;
		max-width: 325px;
	}

	.container__contact {
		position: relative;
	}

	.page__link--logo {
		padding-top: 0;
		position: absolute;
		right: 0;
	}

	.page__banner--codepen {
		padding: 50px 0;
	}

	a.page__link--iframe,
	a.page__link--iframe:before,
	.page__link--iframeHolder {
		visibility: visible;
	}



	.page__banner--codepen:first-child p,
	.page__banner--codepen:first-child script,
	.cp_embed_wrapper {
		display: none;
	}

	/*Replace images*/
	.replace__img--hide {
		display: none;
	}

	.replace__img--diner {
		content: url("../assets/workco/workco-diner--mobile.png");
	}

	.replace__img--space {
		content: url("../assets/workco/workco-space--mobile.png");
	}

	.replace__img--school {
		content: url("../assets/workco/workco-school--mobile.png");
	}
}

/*mobile styles*/
@media only screen and (max-width: 600px)  {
	/*Grids and containers*/
	.container__canvas {
		margin-bottom: -60px;
	}

	.container__about {
		padding: 60px 0 25px 0;
	}

	.container__grid--black .grid__row--hover:first-child {
		padding-top: 75px;
		padding-bottom: 30px;
	}

	.container__grid--black .grid__row--hover:nth-child(2) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.container__grid--black .grid__row--hover:last-child {
		padding-top: 30px;
		padding-bottom: 60px;
	}

	.container__grid--blackSmall {
		margin-bottom: -50px;
		padding-top: 75px;
	}

	.container__grid--blackSmallFooter {
		padding-top: 60px;
		padding-bottom: 30px;
		margin-top: -1px;
	}

	/*Text styles*/
	.about__text,
	.header__text,
	.work__text,
	.play__text {
		font-size: 17px;
		font-weight: 100;
		/*line-height: 1.5;*/
	}

	.play__text--body-small,
	a.page__link--iframe, a.page__link--iframe:before {
		font-size: 15px;
		font-weight: 100;
		/*line-height: 1.25;*/
	}

	.top__body {
		font-size: 20px;
		line-height: 1.45;
	}

	.work--text--project-title,
	.play--text--project-title,
	.top__header {
		font-weight: 400;
		font-size: 25px;
		padding-bottom: 15px;
	}

	.about__text--brow,
	.work__text--brow,
	.play__text--brow,
	.top__brow {
		font-size: 12px;
		font-style: italic;
		margin-bottom: 20px;
	}

	.play__text--brow-bold {
		font-size: 15px;
		font-weight: 900;
	}

	.header__text .page__link {
		font-size: 15px;
		font-style: italic;
	}

	.footer__text {
		font-size: 10px;
		font-style: italic;
	}
}
