* {
	margin: 0;
	padding: 0;
}

.timeline__row,
.timeline__title-container {
	display: flex;
}

.timeline__border {
	background: black;
	position: fixed;
}

.timeline__title {
	width: 80%;
	margin-left: 40px;
	margin-top: 15%;
}

.timeline__mark {
	background: black;
	height: 1px;
	margin: 7.5px 20px;
	width: 10px;
}

.timeline__dates {
	margin-bottom: 15px;
}

.timeline__imgs-container{
	width: 40%;
}

.timeline__descriptions-container {
	width: 40%;
}

.timeline__dates-container,
.timeline__column {
	width: 10%
}

.timeline__marks-container,
.timeline__imgs-container,
.timeline__descriptions-container,
.timeline__dates-container {
	padding-top: 15%;
}

.timeline__img {
	height: auto;
	width: 100%;
}
