* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../assets/ndevalliere-2.png");
	background-repeat: no-repeat;
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	transition: 1s;
}

.container__grid {
	padding: 500px 150px 250px 150px;
	overflow: hidden;
}

.container__credit {
	left: 50%;
	position: absolute;
	text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.credit__img {
	margin-bottom: 10px;
}

.credit__gif {
	height: 10px;
	margin-top: 10px;
}

.grid__row {
	display: flex;
	justify-content: space-between;
	margin-top: -150px;
	transition: 1s;
}

.grid__row:nth-child(1) {
	 transform: scaleX(0.98);
}

.grid__row:nth-child(2) {
	 transform: scaleX(1.01);
}

.grid__row:nth-child(3) {
	 transform: scaleX(1.03);
}

.grid__row:nth-child(4) {
	 transform: scaleX(1.05);
}

.grid__row:nth-child(5) {
	margin-bottom: -75px;
	transform: scale(1.07,1.07);
}

.grid__rect {
	background-color: rgba(220,220,220,0.9);
	border-radius: 2px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
	cursor: -webkit-grab;
	position: relative;
	transition: 1s;
}

.grid__rect-inner {
	background-color: rgba(255,255,255,0.9);
	z-index: 1;
	margin: auto;
	margin-top: 0;
	transition: 1s;
}

.grid__rect-close {
	height: 5px;
	left: 5px;
	position: absolute;
	top: 6px;
	width: auto;
}

.grid__link {
	color: black;
	float: left;
	font-size: 7.5px;
	left: 50%;
	letter-spacing: 2.5px;
	position: absolute;
	text-decoration: none;
	text-align: center;
	top: 20px;
	transform: translate(-50%, -50%);
	transition: 1s;
}

.credit__link {
	color: white;
	font-size: 10px;
	letter-spacing: 3px;
	text-decoration: none;
	white-space: nowrap;
}
