body {
  overflow: hidden;
}

body,
p {
  margin: 0;
  padding: 0;
}

canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

h1 {
  /*color: red;*/
  font-size: 300px;
  color: black;
}

.container__black,
.container__white {
  position: absolute;
}

.container__white {
  color: white;
}
