* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-family: "Adobe Garamond Pro", sans-serif;
}

.container__grid {
	padding: 4.15%;
}

.grid__divider {
	border-color: black;
	margin: 0 auto;
	max-width: 1300px;
}

.grid__divider--white {
	border-color: white;
	background: black;
}

.container__grid--black {
	background: black;
}

.grid__row {
	display: flex;
	width: 100%;
	margin: 0 auto;
	max-width: 1300px;
}

.grid__col--1 {
	width: 8.3%;
	max-width: 108px;
}

.grid__col--2 {
	width: 16.6%;
	max-width: 216px;
}

.grid__col--3 {
	width: 25%;
	max-width: 325px;
}

.grid__col--4 {
	width: 33.3%;
	max-width: 430px;
}

.grid__col--5 {
	width: 41.6%;
	max-width: 540px;
}

.grid__col--6 {
	width: 50%;
	max-width: 650px;
}

.grid__col--7 {
	width: 58.3%;
	max-width: 758px;
}

.grid__col--8 {
	width: 66.6%;
	max-width: 865px;
}

.grid__col--12,
.page__banner {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

.container__about,
.container__work,
.container__play {
	margin: auto;
	position: relative;
}

.container__about,
.container__work {
	padding: 125px 0 25px 0;
}

.container__work {
	padding: 0;
}

.about__text,
.header__text,
.work__text,
.play__text {
	font-size: 30px;
	font-weight: 100;
	line-height: 1.5;
}

.play__text--body-small {
	font-size: 25px;
	font-weight: 100;
	line-height: 1.25;
}

.project__summary {
	margin: 100px 0 50px 0;
}

.top__body {
	font-size: 30px;
	line-height: 1.45;
}

.work__project {
	padding-bottom: 100px;
}

.work__project:last-child {
	padding-bottom: 50px;
}

.container__play {
	padding: 50px 0;
}

.container__canvas {
	margin-bottom: -5px;
}

.work--text--project-title,
.play--text--project-title,
.top__header {
	font-weight: 400;
	font-size: 50px;
	padding-bottom: 5px;
}

.work__text--brow,
.work--text--project-title,
.play--text--project-title,
.work__text {
	color: white;
}

.play--text--project-title,
.page__link {
	color: black;
}

.work__text--link .page__link {
	background: white;
	color: black;
	font-size: 20px;
	padding: 15px;
	text-decoration: none;
  line-height: 4.75;
}

.work__text--link {
	margin-top: 12.5px;
}

.play__text--link {
	margin-top: 7.5px;
}

.about__text--brow,
.work__text--brow,
.play__text--brow,
.top__brow {
	font-size: 20px;
	font-style: italic;
	margin-bottom: 10px;
}

.work__text--brow,
.play__text--brow {
	margin-bottom: 17.5px;
}

.header__text .page__link {
	font-size: 20px;
	font-style: italic;
}

a {
	color: black;
	position: relative;
	text-decoration: none;
}

a:before {
	content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

a:hover:before {
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

a:hover {
	-webkit-text-stroke: 0.5px #000;
}

a.footer__link--white:before {
	background-color: #fff;
}

a.footer__link--white:hover {
		-webkit-text-stroke: 0px #fff;
}

/*.link__wrapper:hover {
	margin-top: -5px;
}*/
/*a {
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease-in-out 0s;
}

a:before {
	background-color: #000;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
  position: absolute;
  width: 100%;
}

a:hover,
a:hover:before {
	animation: underline 1s ease-in-out 0s infinite alternate;
}
@keyframes underline {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		visibility: visible;
	}
	100% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		visibility: hidden;
	}
}


.work__text--link .page__link:hover,
.work__text--link .page__link:before,
.work__text--link .page__link,
.container__contact .page__link:before,
.container__contact .page__link:hover,
.container__contact .page__link {
	background-color: #fff;
}*/

.work__text--link .page__link:hover,
.work__text--link .page__link:before,
.work__text--link .page__link,
.container__contact .page__link:before,
.container__contact .page__link:hover,
.container__contact .page__link {
	background-color: #fff;
}

.footer__text--white,
.footer__link--white {
	color: white;
}

/*mobile styles*/
