body {
  overflow: hidden;
}

p {
	font-family: "PT Mono X";
	/*letter-spacing: 6px;*/
	font-size: 12px;
	transition: 60s;
}

p,
.container__project-titles {
	position: absolute;
}

.page__title {
  top: 10%;
	right: 10%;
  height: 100px;
}

a {
	text-decoration: none;
	color: black;
}

.container__project-titles {
	/*left: -10%;*/
	top: 50%;
	transform: rotate(-90deg);
	transform-origin: top;
}

.container__project-titles p {
	position: relative;
  /*padding-top: 31.25%;*/
	transform: rotate(-35deg);
	transform-origin: left;
	animation: rotate 15s linear 0s infinite alternate;
}

@keyframes rotate {
	100% {transform: rotate(35deg);}
}

#rotate {
	transform: rotate(60deg);
}

.large {
	animation: largeText 10s linear 0s infinite alternate;
}

@keyframes largeText {
	100% {font-size: 300px;}
}

.small {
	animation: smallText 10s linear 0s infinite alternate;
}

@keyframes smallText {
	100% {font-size: 8px;}
}
